{% extends "base_template.html" %}

{% block title %}
    {% if form.title.data %}
        {{ form.title.data }}
    {% else %}
        Creando Posts
    {% endif %}
{% endblock %}

{% block content %}
    <form class="container-postform" action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title(size=128) }}
            {% for error in form.title.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="contenido">
            {{ form.content.label }}
            {{ form.content }}
            {% for error in form.content.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
